<div class="box">
<form>
<fieldset>
<legend>Login</legend>
Login to complete your purchase.
<label>Username: </label>
 
<label>Password: </label>
 
</fieldset>
</form>
 
&lt; !–end of login form–&gt;
<form>
<fieldset>
<legend>Register</legend>
If you do not already have an account, please create a new account to register.
 
</fieldset>
</form>
 
&lt; !–end of register form–&gt;</div>
&lt; !–end of box–&gt;
